.quadro {
    color: blue;
    width: calc(100% - 100px);
    margin: 100px;
    padding: 100px;
    background-color: rgb(236, 101, 22);
    border-radius: 100px;
}

.texto-primario {
    color: aquamarine;
    border:rgb(236, 101, 22) 10px;
}